##########################################################################################
## BEGIN APACHE HTACCESS REWRITE SERVICE HANDLERS
##########################################################################################


# Begin Rewrite Engine
RewriteEngine on


# The Document Root Folder
### Change this to the root folder name of your application
RewriteBase /miracle


##########################################################################################
## BEGIN APP GENERATED SERVICE HANDLERS
##
## DO NOT CHANGE THE CONFIGURATIONS IN THIS SECTION !!!!
## IT MAY CAUSE YOUR APPLICATION TO BREAK OR BEHAVE UNEXPECTEDLY
##
##########################################################################################


# Redirect all requests to public folder
# RewriteCond %{REQUEST_URI} /
# RewriteRule (.*) public/ [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*) public/ [QSA,L]

 # Redirect Trailing Slashes If Not A Folder...
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_URI} (.+)/$
    # RewriteRule ^ %1 [L,R=301]

# Traffic must be https always for all requests
# RewriteCond %{HTTPS} on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L]

# Block direct access to index files in folders
Options -Indexes


# ErrorDocument 404 DocumentRoot
# ErrorDocument 500 "Invalid File Access"

##########################################################################################
## END APP GENERATED SERVICE HANDLERS
##########################################################################################


##########################################################################################
## END APACHE HTACCESS REWRITE SERVICE HANDLERS
##########################################################################################