:root {
  --home-background-url: url(/projects/dopespa/app/resources/assets/images/jpeg/dopespa/relaxation.jpg);
}

@font-face {
  font-family: "BerlinSansFBDemi-Bold";
  src: url(/Projects/dopespa/app/resources/css/fonts/sans/BerlinsansDemibold.ttf);
}

.devpzone__logo {
  max-width: 190px;
}

.tutors-point__logo {
  max-width: 120px;
  height: 84px;
}

.mt-md {
  margin-top: 7rem;
  margin-bottom: 4rem;
}
.mt-lg {
  margin-top: 7rem;
}

.carousel-image {
  visibility: hidden;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
}

.v-small {
  max-width: 10px;
}
.md-small {
  max-width: 15px;
}
.md-small-1 {
  max-width: 16px;
}
.md-small-2 {
  max-width: 17px;
}
.small {
  max-width: 20px;
}
.sm-medium {
  max-width: 25px;
}
.medium {
  max-width: 50px;
}
.large {
  max-width: 100px;
}

.x-large {
  max-width: 200px;
}
.pointer {
  cursor: pointer;
}
.resize {
  max-width: 550px;
  background-position: center center;
}
.carousel-item {
  background-size: cover;
  background-position: center center;
}
.left-3 {
  left: -2.5rem !important;
  right: 2.5rem !important;
}

.left-1 {
  right: 5.75rem;
  margin-top: 1rem;
}

.left-2 {
  right: 8rem;
  margin-top: 1rem;
}

.md-height {
  height: 700px;
}

.bg-home {
  background: linear-gradient(
      -10deg,
      rgba(157, 152, 152, 0.303),
      rgba(159, 159, 159, 0.293),
      rgba(165, 165, 165, 0.984)
    ),
    var(--home-background-url);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-height {
  min-height: 275px !important;
}

@media screen and (min-width: 992px) {
  .bg-home {
    height: 40vw;
  }
}

.canvas-toggler {
  border-radius: 0.375rem;
  cursor: pointer;
}

nav a:hover {
  box-shadow: 0rem 0rem 0rem 0.25rem rgba(176, 172, 172, 0.736);
  background-color: rgba(176, 172, 172, 0.736);
  border-radius: 0.375rem;
}
